.account-form {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #212121;
  padding: 25px 50px 50px 50px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.account-form h1 {
  margin-top: 5px;
}

.account-form label {
  font-size: 24px;
  margin-bottom: 5px;
}

.account-form input {
  margin-bottom: 25px;
  height: 30px;
  border: 2px solid #424242;
  background-color: #121212;
  padding: 5px 20px;
  border-radius: 5px;
  color: #cccccc;
  font-size: 18px;
  transition: all .2s ease-out;
}

.account-form input:focus {
  outline: none;
  border: solid 2px #d1d1d1;
}


.account-form button {
  height: 50px;
  font-size: 20px;
  border: 2px solid #424242;
  border-radius: 10px;
  background-color: #121212;
  color: white;
  transition: .2s ease-out;
}

.account-form button.disabled:hover {
  transform: scale(1);
  border: solid 2px #d37979;
}

.account-form button:hover {
  transform: scale(1.05);
  border: solid 2px #79d379;
}

#confirm-password-input.same {
  border: solid 2px #79d379 !important;
}

#confirm-password-input.not-same {
  border: solid 2px #d37979 !important;
}